<body>
    <div style="display: block;">
        <div class="tabs">
            <a href="/dashboard">
                <div class="tab active">
                    Recommended
                </div>
            </a>
            <a href="/posted">
                <div class="tab">
                    Posted
                </div>
            </a>
            <a href="/applied">
                <div class="tab">
                    Applied
                </div>
            </a>
            <a href="/booked">
                <div class="tab">
                    Booked
                </div>
            </a>
            <a href="/new">
                <div class="tab" style="width: 3vw; font-size: 2vw;">
                    <span style="margin-top: -0.5vw">+</span>
                </div>
            </a>
        </div>
        <h3>Recommended Gigs</h3>
        <div class="gigs">
            <% for (var i = 0; i < gigs.length; i++) { %>
                <a href="/gig/<%= gigs[i]._id %>" style="text-decoration: none; color: black;">
                    <div class="gig">
                        <img src="<%= gigs[i].postedBy %>">
                        <h4><%= gigs[i].location %></h4>
                        <p><%= gigs[i].startDate %> - <%= gigs[i].endDate %></p>
                        <div class="type-tab">
                            <%= gigs[i].type %>
                        </div>
                    </div>
                </a>
            <% } %>
            <div class="gig">
                <img src="/images/la.jpg">
                <h4>Los Angeles</h4>
                <p>April 21, 2023 - April 23, 2023</p>
                <div class="type-tab">
                    Humanized
                </div>
            </div>
            <div class="gig">
                <img src="/images/seattle.jpg">
                <h4>Seattle</h4>
                <p>April 29, 2023 - April 30, 2023</p>
                <div class="type-tab">
                    Personalized
                </div>
            </div>
            <div class="gig">
                <img src="/images/nyc.jpg">
                <h4>New York</h4>
                <p>May 14, 2023 - May 20, 2023</p>
                <div class="type-tab">
                    Conversational
                </div>
            </div>
        </div>
    </div>
</body>